/* */
.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
/* */

body {
	margin: 0px;
	padding: 15px;
	font-family: Georgia, serif;
	font-size: 12px;
}

.wrapper {
	width: 972px;
	margin: 0px auto;
	border: 1px solid #999999;
}

h1 {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

nav li {
	float: left;
	padding: 5px;
}

header {
	clear: both;
	padding: 30px 0px;
}

.page {
	padding: 15px 0px;
}

.column {
	float: left;
}

.nav {
	width: 77px;
}

.nav li {
	margin: 0px;
	padding: 0px 5px 5px;
}

.x1 {
	width: 179px;
}

.x2 {
	width: 358px;
}

.x3 {
	width: 537px;
}

article {
	overflow: hidden;
}

article header {
	padding: 0px;
}

footer {
	clear: both;
}

.sitemap {
	padding: 15px;
	border-top: 2px solid #000000;
	text-align: center;
}

.sitemap li {
	display: inline;
	padding: 0px 5px;
}