* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #333333;
	color: #ffffff;
}

img {
	/*vertical-align: top;*/
}

.map-holder {
	border: 1px solid blue;
	position: relative;
	float: left;
}

img.map {
	/*display: none;*/
	
	/*position: absolute;*/
	/*z-index: 2;*/
	
	width: 800px;
	
}

img.flag {
	position: absolute;
	/*z-index: 1;*/
	
	box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
	
	
}

img.spain {
	top: 50%;
	left: 230px;
}

img.ukraine {
	right: 78px;
	bottom: 304px;
}

p {
	font-size: 24px;
	margin: 1em;
	clear: left;
}

p.first {
	position: absolute;
	top: 15px;
	left: 15px;
}










