@font-face {
	font-family: "Fette Fraktur";
	/* 
	We specify a path to the font file. In this case,
	this is a relative path, WITH RESPECT TO THIS CSS FILE.
	The "../" in the relative means "back up one directory"
	*/
	src: url("../fonts/FetteFrakturLTStd.otf"), url("../fonts/FetteFrakturLTStd.ttf");
}

body {
	background-color: #dddddd;
	
	/* The font-family property sets the font. */
	font-family: "Rye", "Fette Fraktur";
	
	font-size: 24px;
	
	color: #ff0000;
}

h1 {
	font-style: italic;
}

p {
	color: #000000;
	/*font-size: 72px;*/
}

li p {

}

li {
	color: green;
}

ul li {
	list-style-type: none;
	color: #000;
}



