@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

body {
	margin: 0px;
	padding: 30px;
	background-color: #f1f1f1;
	color: #181818;
	font-family: "Playfair Display", serif;
	/*background-image: url("../images/pattern.png");
	background-repeat: repeat;
	background-attachment: fixed;*/
}

h1,
h2 {
	font-family: "Hammersmith One", sans-serif;
	font-weight: normal;
}

h1 {
	margin: 0px;
	padding: 5px 0px 20px;
	font-size: 48px;
	line-height: .7em;
}

h2 {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
}

p {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	font-size: 16px;
	line-height: 1.4;
}

/*p.first {
	margin-bottom: 3em;
}*/

q {
	quotes: none;
	font-style: italic;
}

q:before {
	/* the 'unicode' representation
	of an opening quote symbol */
	content: '\201C';
}

q:after {
	/* the 'unicode' representation	
	of a close quote symbol */
	content: '\201D';
}

article.story {
	
	width: 1000px;
	margin: auto;

	padding: 5px 0px;
	border-top: 2px solid #609ceb;
	
	background-color: #ffffff;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, .6);
}

.drop-cap {
	display: block;
	
	background-image: url("../images/O-8-cap.png");
	background-position: 0px 0px;
	
	/*background-repeat: no-repeat;*/
	
	width: 69px;
	height: 89px;
	
	/* hide the actual letter */
	text-indent: -9999px;
	
	/* get the text to flow around the dropcap */
	float: left;
}


.story-header {
	float: left;
	width: 300px;
	text-align: right;
	margin-right: 20px;
}

.author-info img {
	display: none;
}

.author-info:hover img {
	display: inline;
}

.story-content {
	float: left;
	width: 500px;
}

.story-content p {
	padding-left: 5px;
	padding-right: 5px;
}

a {
	text-decoration: none;
	color: #609ceb;
}

a:hover {
	color: #000000;
}







