@import url(http://fonts.googleapis.com/css?family=Diplomata);

body {
	background-color: #efefef;
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.page {
	margin: 10px auto;
}



h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 5px 0px .8em;
	/*font-family: 'Diplomata', serif;*/
	font-weight: bold;
	/*background-color: #000000;
	color: #ffffff;*/
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

/* apply styles to <em> elements that are inside <p> elements */
p em {

}

blockquote {
	margin: 0px;
	padding: 0px;
	/*font-family: "Diplomata", serif;*/
	color: #444444;
}

blockquote p em {
	font-style: normal;
}

img {
	max-width: 100%;
}

a {
	color: inherit;
	/* <a> elements often have text-decoration: underline; by default */
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.stack li {
	padding: 0px;
	margin: 0px;
	border-top: 1px solid #cccccc;
}

.stack a {
	display: block;
	padding: 5px 10px;
}
.stack a:hover {
	background-color: #000000;
	color: #ffffff;
}
.stack a:active {
	box-shadow: inset 3px 3px 8px rgba(0, 0, 0, .5);
}


 
 .clearfix:after {
 	content: ".";
 	clear: both;
 	display: block;
 	visibility: hidden;
 	height: 0px;
 }
 
 .column {
 	float: left;
 	margin-left: 10px;
 }
 .column:first-child {
 	margin-left: 0px;
 }
 
.x1 { width: 80px; }
.x2 { width: 170px; }
.x3 { width: 260px; } 
.x4 { width: 350px; }
.x5 { width: 440px; }
.x6 { width: 530px; }
.x7 { width: 620px; } 
.x8 { width: 710px; }
.x9 { width: 900px; }
.x10 { width: 890px; }

.push1 { margin-right: 90px; }
.push2 { margin-right: 180px; }
.push3 { margin-right: 270px; }
.push4 { margin-right: 360px; }
.push5 { margin-right: 450px; }




















