@import url(http://fonts.googleapis.com/css?family=Inconsolata);

@font-face {
	font-family:'MuseoSlab'; font-weight:normal; font-style:normal;
	src:url('../fonts/museo_slab_500-webfont.eot');
	src:local('â˜º'), url('../fonts/museo_slab_500-webfont.woff') format('woff'), url('../fonts/museo_slab_500-webfont.ttf') format('truetype'), url('../fonts/museo_slab_500-webfont.svg#webfontRnwDZmOy') format('svg');
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: Inconsolata, Arial, sans-serif;
	font-size: 14px;
}

::-moz-selection { 
	background-color: #444444; 
	color: #fcfcfc; 
}
::selection { 
	background-color: #444444; 
	color: #fcfcfc; 
}

.page {
	margin: 0px auto;
}

.show-grid {
	background-image: url("../images/grid.png");
	background-repeat: repeat;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "MuseoSlab", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 24px;
}

h2 {
	padding: 0px 10px 1em;
	font-size: 24px;
}

del {
	text-decoration: line-through;
}

ins {
	text-decoration: none;
}

p em {

}

blockquote {
	margin: 0px 0px 15px;
	padding: 10px;
}
blockquote p {
	font-size: 21px;
	color: #444444;
}

blockquote p em {
	font-style: inherit;
}

img {
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.stack {
	margin: 0 0 30px;
}

.stack a {
	display: block;
	padding: 5px 10px;
	border-bottom: 1px solid transparent;
}
.stack a:hover {
	background-color: #0a90d7;
	color: #fcfcfc;
}
.stack a:active {
	background-color: rgba(0, 0, 0, .7);
}

.tier {
	clear: both;
	padding: 25px 0;
	margin: 0 auto;
}

 .tier:after,
 .clearfix:after {
 	content: ".";
 	clear: both;
 	display: block;
 	visibility: hidden;
 	height: 0px;
 }
 
 .column {
 	float: left;
 	margin-left: 10px;
 }
 .column:first-child {
 	margin-left: 0px;
 }
 
.x1 { width: 80px; }
.x2 { width: 170px; }
.x3 { width: 260px; } 
.x4 { width: 350px; }
.x5 { width: 440px; }
.x6 { width: 530px; }
.x7 { width: 620px; } 
.x8 { width: 710px; }
.x9 { width: 900px; }
.x10 { width: 890px; }

.masthead {
	background-color: #f7f7f7;
	border-bottom: 1px dotted #dddddd;
}

.header { 
	position: relative;
	overflow: hidden;
}
.header h1 { 
	position: absolute; 
	top: 0px; 
	left: 0px;
	width:100%;
	padding: 10px;
	background-color: #111111;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .6);
	color: #ffffff;
}

.button {
	display: inline-block;
	padding: 3px 5px;
	margin-left: 10px;
	border: 1px solid #999999;
	background-color: #ffffff;
	font-family: "MuseoSlab", Helvetica, sans-serif;
	box-shadow: 0 1px 3px #999999;
}
.button:hover {
	color: #0a90d7;
	border-color: #0a90d7;
}
.button:active {
	box-shadow: inset 0 1px 3px #999999;
}

.button.coursekit {
	padding: 5px 5px 5px 26px;
	background-image: url("../images/coursekit_sm.png");
	background-repeat: no-repeat;
	background-position: 3px center;
}

