@font-face {
	font-family: "Fette";
	src: url("../fonts/fette.otf");
}

body {
	font-family: "Fette";
	/*font-family: "Jacques Francois Shadow";*/
	/*font-family: "Fette Fraktur LT Std", Palatinod, serif;*/
	/*font-family: Helvetica, Arial, sans-serif;*/
	background-color: #333333;
	color: #cccccc;
}

h1 {
	color: inherit;
}

p {
	font-size: 36px;
	/*color: rgb(0, 255, 0);*/
	/*font-style: italic;*/
	line-height: 130%;
}

a {
	color: inherit;
	text-decoration: none;
}