@font-face {
	font-family: "Fette Fraktur";
	src: url("../fonts/fette.otf");
}

body {
	font-family: "Fette Fraktur", serif;
	/*font-family: "Jacques Francois Shadow";*/
	background-color: #333333;
	color: #cccccc;
}

p {
	font-size: 36px;
	/*color: rgb(0, 255, 0);*/
	/*font-style: italic;*/
	line-height: 1.3; /* notice we left off a unit. 1.3 time the font-size */
}

a {
	color: inherit;
	text-decoration: none;
}