.board {
	border-collapse: collapse;
}
.board td {
	width: 100px;
	height: 100px;
	border: 1px solid #cccccc;
	cursor: pointer;
}
.board td:hover {
	background-color: #eeeeee;
}
.board td.state-active {
	cursor: default;
	background-color: #cccccc;
}