body {
	padding: 25px 0px;
	background-color: #e6e6e6;
	font-family: Palatino, "Palatino Linotype", Palladio, "Book Antiqua", Georgia, serif;
	color: #505050;
}

::-moz-selection { 
	background-color: #000000; color: #ffffff; 
}
::selection { 
	background-color: #000000; color: #ffffff; 
}

a {
	color: #2865AC;
	text-decoration: none;
}
a:hover {
	color: #7d7d72;
}
a:active {
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Droid Sans", Tahoma, sans-serif;
	font-weight: normal;
	color: #111111;
}

h1 {
	font-size: 12px;
	font-weight: bold;
}
h2 {
	font-size: 21px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 12px;
}

input[type=text],
input[type=password],
textarea,
input[type=submit],
input[type=button],
button {
	padding: 5px;
	font-size: 14px;
	font-family: "Droid Sans", Tahoma, sans-serif;
	border: 1px solid #cccccc;
	background-color: #ffffff;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
input[type=submit]:hover,
input[type=button]:hover,
button:hover {
	border-color: #666666;
}


label {
	font-family: "Droid Sans", Tahoma, sans-serif;
}

body .page {
	position: relative;
	z-index: 2;
	width: 736px;
	margin: 0px auto;
	text-align: left;
	border-style: solid; 
	border-color: #aaaaaa; 
	border-width: 1px;
	background-color: #ffffff;
	-moz-box-shadow: 0px 1px 4px #999999;
	-webkit-box-shadow: 0px 1px 4px #999999;
	box-shadow: 0px 1px 4px #999999;
}

.head {
	position: relative;
	height: 50px;
	background-color: #ffffff;
}
.head h1 {
	position: absolute;
	bottom: 0px;
	left: 25px;
	padding: 4px 0px 5px;
}
.head .nav {
	position: absolute;
	bottom: 0px;
	left: 217px;
}


.head .nav > ul > li { 
	float:left; 
}
.head .nav > ul > li > a {
	display: block;
	position: relative; 
	z-index: 4; 
	bottom: -1px;
	margin: 0px 0px 0px 5px;
	padding: 4px 8px 5px;
	font-family: "Droid Sans", Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-style: solid;
	border-color: transparent;
	border-width:1px 1px 0px;
	-moz-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
}
.head .nav > ul > li:first-child > a {
	margin-left: 0px;
}
.head .nav > ul > li > a:hover {
	border-color: #aaaaaa;
}
.head .nav > ul > li.current_page_item > a,
.blog .head .nav > ul > li:first-child > a,
.single .head .nav > ul > li:first-child > a {
	z-index: 6;
	cursor: default;
	color: #666666;
	background-color: #ffffff;
	border-color: #cccccc;
}

.body {
	position: relative; 
	z-index: 5;
	padding: 50px 25px 50px;
	background-color:#ffffff;
	border-top: 1px solid #cccccc;
}

.colx2 .sidebar {
	position: absolute;
	width: 180px;
}
.colx2 .content {
	margin: 0px 0px 0px 200px;
}

.content a:hover {
	text-decoration:underline;
}

.content section {
	padding: 50px 0px 0px;
}
.content section:first-child {
	padding-top: 0px;
}

.content section h2 a:hover {
	background-color: #f4f4f4;
	text-decoration: none;
}

.content p,
.content blockquote,
.prime ul,
.prime ol,
.prime dl {
	font-size: 14px;
	padding: 10px 0px 0px;
}

.content p:first-child,
.content blockquote:first-child,
.prime ul:first-child,
.prime ol:first-child,
.prime dl:first-child {
	padding-top: 0px;
}

.prime ul,
.prime ol {
	padding-left: 20px;
}
.prime ul {
	list-style-type: disc;
}
.prime ul > li,
.prime ol > li {
	padding: 5px 0px 0px;
}
.prime ul > li:first-child,
.prime ol > li:first-child {
	padding-top: 0px;
}

.prime blockquote {
	font-style: italic;
	padding-left: 20px;
}

.content .note {
	font-style: italic;
	color: #808080;
}

.prime h3 {
	padding: 15px 0px 5px;
}

.prime em {
	font-style: italic;
}

.prime dl dt {
	float: left;
	margin: 0px .6em 0px 0px;
	font-style: italic;
}

.prime img {
	display: block;
	max-width: 100%;
}

p.download a {
	display: block;
	padding: 10px 10px 10px 56px;
	height: 36px;
	line-height:36px;
	background-image: url("../images/download.png");
	background-position: 10px center;
	border: 1px solid #efefef;
}
p.download a:hover {
	border-color: #aaaaaa;
	text-decoration: none;
}

.state-zero {
	margin: 10px 0px 0px;
	padding: 10px;
	text-align: center;
	border: 1px solid #dfdfdf;
	font-size: 18px;
	color: #999999;
}

.toc {
	padding: 33px 0px 15px;
	font-family: "Droid Sans", Tahoma, sans-serif;
	font-size: 13px;
}
.toc > li > a {
	display: block;
	padding: 5px 0px;
}
.toc > li > a:hover {
	background-color: #f4f4f4;
}

.roster {
	padding: 38px 0px 15px;
}
.roster h2 {
	padding: 0px 0px 5px;
	font-size: 14px;
}
.roster .toc {
	padding: 0px;
}

.stack {
	padding: 10px 0px 0px;
}
.stack > li {
	margin: 10px 0px 0px;
	padding: 10px;
	overflow: hidden;
	border: 1px solid #efefef;
}
.stack > li:first-child {
	margin-top: 0px;
}
.stack img.icon {
	display: block;
	float: left;
	margin: 0px 10px 0px 0px;
	width: 50px;
}
.stack .info {
	overflow: hidden;
}
.stack .info .note {
	font-size: 12px;
}

.content table {
	width:100%;
	margin: 10px 0px 0px;
}
.content table tr.workshop {
	
}
.content table tr.state-void {
	opacity: 0.4;
	background-color: #fafafa;
	font-style: italic;
}
.content table th,
.content table td {
	padding: 10px;
	font-size: 13px;
	border: 1px solid #dddddd;
}
.content table th {
	font-weight: normal;
}
.content table thead th {
	font-family: "Droid Sans", Tahoma, sans-serif;
	text-align: left;
}
.content table thead th small {
	display: block;
}
.content table .notes {
	padding: 3px 0px 0px;
	font-size: 12px;
	font-style: italic;
	color: #999999;
}

pre.codebox {
	white-space: pre-wrap;
	margin: 10px 0px 0px;
	padding: 10px;
	border: 1px dashed #dddddd;
}
pre.codebox code {
	font-family: Consolas, monospace;
	font-size: 13px;
}

.comment-list > ol {
	padding: 10px 0px 0px;
}
.comment-list > ol > li {
	margin: 10px 0px 0px;
	padding: 10px;
	border: 1px solid #efefef;
}
.comment-list > ol > li:first-child {
	margin-top: 0px;
}
.comment-list .meta {
	display: block;
	margin: 0px 0px 5px;
	padding: 0px 0px 5px;
	font-size: 11px;
	font-style: normal;
}

.comment-form .box {
	float: left;
	margin-left: 15px;
}
.comment-form .box:first-child {
	margin-left: 0px;
}
.comment-form .tier {
	clear: both;
}
.comment-form > form {
	padding: 10px 0px 0px;
}
.comment-form label {
	display: block;
	padding: 0px 0px 2px;
	font-size: 12px;
}
.comment-form input[type=text] {
	width: 223px;
	margin: 0px 0px 10px;
}
.comment-form textarea {
	width: 474px;
	height: 8em;
	margin: 0px 0px 10px;
}

.pagination {
	overflow: hidden;
	margin: 100px 0px 0px;
	font-size: 14px;
}
.pagination > span {
	display: block;
	width: 45%;
}
.pagination > span.prev {
	float: left;
}
.pagination > span.next {
	float: right;
	text-align: right;
}
.pagination a {
	display: block;
	padding: 10px;
}
.pagination a:hover {
	background-color: #f4f4f4;
	text-decoration: none;
}



.foot {
	padding: 400px 0px 0px;
}
