body {
	height: 100%;
	background-color: #909090;
	font-family: Tahoma, sans-serif;
	color: #505050;
}

::-moz-selection { 
	background-color: #7d7d72; color: #ffffff; 
}
::selection { 
	background-color: #7d7d72; color: #ffffff; 
}

a {
	color: #2865AC;
	text-decoration: none;
}
a:hover {
	color: #7d7d72;
}
a:active {
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	color: #111111;
}

h1 {
	font-size: 28px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 12px;
}

input[type=text],
input[type=password],
textarea {
	padding: 5px;
	font-size: 14px;
	font-family: Consolas, monospace;
	border: 1px solid #cccccc;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	border-color: #666666;
}

body .page {
	position: relative;
	z-index: 2;
	width: 736px;
	min-height: 100%;
	margin: 0px auto;
	text-align: left;
	border-style: solid; 
	border-color: #777777; 
	border-width: 0px 1px;
	background-color: #ffffff;
	-moz-box-shadow: 0px 1px 4px #666666;
	-webkit-box-shadow: 0px 1px 4px #666666;
	box-shadow: 0px 1px 4px #666666;
}

.head {
	background-color: #efefef;
}
.head h1 {
	float: left; 
	padding: 20px 15px;
}
.head .nav {
	clear: both;
}


.head .nav > ul > li { 
	float:left; 
}
.head .nav > ul > li > a {
	display: block;
	position: relative; 
	z-index: 4; 
	bottom: -1px;
	margin: 0px 0px 0px 10px;
	padding: 4px 15px 8px;
	font-size: 12px;
	background-color: #ebebeb;
	border: 1px solid #cccccc; 
	border-style: solid;
	border-color: #cccccc;
	border-width:1px 1px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	-moz-box-shadow: 0px 0px 4px #cccccc;
	-webkit-box-shadow: 0px 0px 4px #cccccc;
	box-shadow: 0px 0px 4px #cccccc;
}
.head .nav > ul > li > a:hover {
	background-color: #f4f4f4;
}
.head .nav > ul > li > a:active {
	border-color: #aaaaaa;
}
.head .nav > ul > li.current_page_item > a,
.single .head .nav > ul > li:first-child > a {
	z-index: 6;
	cursor: default;
	color: #333333;
	background-color: #ffffff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.body {
	position: relative; 
	z-index: 5;
	padding: 25px 25px 50px;
	background-color:#ffffff;
	border-top: 1px solid #cccccc;
}

.colx2 .sidebar {
	position: absolute;
	width: 180px;
}
.colx2 .content {
	margin: 0px 0px 0px 200px;
}

.content a:hover {
	text-decoration:underline;
}

.content section {
	padding: 30px 0px 0px;
}
.content section:first-child {
	padding-top: 0px;
}

.content section h2 a {
	display: block;
}
.content section h2 a:hover {
	background-color: #f4f4f4;
	text-decoration: none;
}

.content p,
.prime ul,
.prime ol,
.prime dl {
	font-family: Palatino, "Palatino Linotype", Palladio,  "Book Antiqua", Georgia, serif;
	font-size: 14px;
	padding: 10px 0px 0px;
}

.content p:first-child,
.prime ul:first-child,
.prime ol:first-child,
.prime dl:first-child {
	padding-top: 0px;
}
.content .note {
	font-style: italic;
	color: #808080;
}

.prime h3 {
	padding: 15px 0px 5px;
	border-bottom: 1px solid #efefef;
}

.prime em {
	font-style: italic;
}

.prime dl dt {
	float: left;
	margin: 0px .6em 0px 0px;
	font-style: italic;
}

.state-zero {
	margin: 10px 0px 0px;
	padding: 10px;
	text-align: center;
	border: 1px solid #dfdfdf;
	font-size: 18px;
	color: #999999;
}

.toc {
	padding: 30px 0px 15px;
	font-size: 13px;
}
.toc > li > a {
	display: block;
	padding: 5px 0px;
}
.toc > li > a:hover {
	background-color: #f4f4f4;
}

.stack {
	padding: 10px 0px 0px;
}
.stack > li {
	margin: 10px 0px 0px;
	padding: 10px;
	overflow: hidden;
	border: 1px solid #efefef;
}
.stack > li:first-child {
	margin-top: 0px;
}
.stack img.icon {
	display: block;
	float: left;
	margin: 0px 10px 0px 0px;
	width: 50px;
}
.stack .info {
	overflow: hidden;
}
.stack .info .note {
	font-size: 12px;
}

.content table {
	width:100%;
	margin: 10px 0px 0px;
}
.content table tr.workshop {
	
}
.content table tr.state-void {
	opacity: 0.4;
	background-color: #fafafa;
	font-style: italic;
}
.content table th,
.content table td {
	padding: 10px;
	font-size: 13px;
	border: 1px solid #efefef;
}
.content table th {
	font-weight: normal;
}
.content table thead th {
	text-align: left;
	background-color: #fafafa;
}
.content table thead th small {
	display: block;
}
.content table .notes {
	padding: 3px 0px 0px;
	font-size: 12px;
	font-style: italic;
	color: #999999;
}

pre.codebox {
	white-space: pre-wrap;
	margin: 10px 0px 0px;
	padding: 10px;
	border: 1px dashed #dddddd;
}
pre.codebox code {
	font-family: Consolas, monospace;
	font-size: 13px;
}

.comment-list > ol {
	padding: 10px 0px 0px;
}
.comment-list > ol > li {
	margin: 10px 0px 0px;
	padding: 10px;
	border: 1px solid #efefef;
}
.comment-list > ol > li:first-child {
	margin-top: 0px;
}
.comment-list .meta {
	display: block;
	margin: 0px 0px 5px;
	padding: 0px 0px 5px;
	font-size: 11px;
	font-style: normal;
}

.comment-form .box {
	float: left;
	margin-left: 15px;
}
.comment-form .box:first-child {
	margin-left: 0px;
}
.comment-form .tier {
	clear: both;
}
.comment-form > form {
	padding: 10px 0px 0px;
}
.comment-form label {
	display: block;
	padding: 0px 0px 2px;
	font-size: 12px;
}
.comment-form input[type=text] {
	width: 223px;
	margin: 0px 0px 10px;
}
.comment-form textarea {
	width: 474px;
	height: 8em;
	margin: 0px 0px 10px;
}






.foot {
	padding: 400px 0px 0px;
}
