.button {
	margin: 210px auto 270px;
	width:200px;
	cursor: pointer;
}
.button img {
	border-radius:15px;
}

.slideshow {
	position:relative;
	display: none;
	top: -120px;
	left: 75px;
	width:600px;
	margin: 0 auto;
	
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 0s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-delay: 0s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

.slide {
	padding: 0px;
	position: absolute;
	list-style:none;
	display: none;
	
	
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 0s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-delay: 0s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	
	
}
.active {
	display: block;
}
.slide img {
	border:3px solid black;
	box-shadow:0px 0px 30px black;
	border-radius: 15px;
	
	
}
#right,#left,#loop {
	position:absolute;
	z-index:1;
}
#right {
    right: 45px;
    top: 180px;
    
}
#left {
    left: -100px;
    top: 180px;
}	
#right img {
	cursor: pointer;
	 width: 80px; 
	 height: 80px;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 0s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-delay: 0s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
#left img {
	cursor: pointer;
	
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-delay: 0s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-delay: 0s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
#loop {
	right: 335px;
    top: 485px;
}
#loop img{
	cursor: pointer;
}

.close {
    position: absolute;
    right: 70px;
    top: -40px;
    z-index: 1;
}
.close img{
	cursor: pointer;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}