body {
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	color: #cccccc;
	font-family: Georgia, serif;
}

::-moz-selection {
	color: #ffffff;
	background-color: #555555; 
}
::selection {
	color: #ffffff;
	background-color: #555555; 
}

.page {
	margin: 20px auto;
	width: 960px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

nav {
	float: right;
	width: 200px;
	font-family: Tahoma, sans-serif;
}
nav ul {

}
nav li {
	margin: 3px 0px 0px;
}
nav li:first-child {
	margin-top: 5px;
}
nav li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	background-color: #eeeeee;
	color: #000000;
}
nav li a:hover {
	background-color: #66ccff;
}
nav li a:active {
	box-shadow: inset 2px 2px 8px rgba(0, 0, 0, .6);
}

article {
	float: left;
	width: 700px;
}
article p {
	margin: 20px 0px 0px;
	padding: 0px;
}
article p:first-child {
	margin-top: 0px;
}

.actions {
	float: right;
	width: 200px;
	margin: 20px 0px 0px;
	font-size: 12px;
}
.actions li {
	margin: 10px 0px 0px;
}
.actions li:first-child {
	margin-top: 0px;
}
.actions a {
	display: block;
	padding: 5px 10px;
	border: 1px solid #666666;
	color: #aaaaaa;
	text-decoration: none;
}
.actions a:hover {
	color: #66ccff;
	border-color: #ffffff;
}
.actions a:active {
	
	box-shadow: inset 2px 2px 8px rgba(0, 0, 0, .6);
}

@media all and (max-width: 1400px) and (min-width: 1025px) {
	
	body {
	
	}
}


@media all and (max-width: 1024px) and (min-width: 769px) {
	
	body {
		
	}
}


@media all and (max-width: 768px) and (min-width: 481px) {
	
	body {
		
	}
}

@media all and (max-width: 1024px) {
	
	.page,
	article,
	nav,
	.actions {
		width: auto;
	}
	
	.page {
		margin: 0px;
		padding: 10px;
	}
	
	nav {
		float: none;
		margin-left: 0px;
		background-color: #bbbbbb;
	}
	nav li {
		float: left;
		margin: 0px;
	}
	nav li:first-child {
		margin: 0px;
	}
	nav li a {
		border-right: 3px solid #000000;
	}
	
	article {
		float: none;
		padding: 20px 0px;
	}
	
	.actions {
		float: none;
		padding: 10px 0px;
		border-top: 1px solid #444444;
		border-bottom: 1px solid #444444;
	}
	.actions li {
		float: left;
		margin: 0px 10px 0px 0px;
	}
	
}


@media all and (max-width: 480px) {
	
}

.clearfix:before,
.clearfix:after { 
	content: ""; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.clearfix { 
	zoom: 1; 
}