body {
	font-family: Helvetica, Arial, sans-serif;
}

.toc {
	list-style: none;
	/* 'fixed' positioning! */
	position: fixed;
	top: 30px;
	left: 30px;
}
.toc a {
	display: block;
	padding: 3px 5px;
	text-decoration: none;
	color: #000;
}
.toc a.active {
	background-color: #000;
	color: #fff;
}

.content {
	width: 500px;
	margin-left: 200px;
}
.content img {
	max-width: 100%;
}

section {
	display: none;
}
section.active {
	/*display: block;*/
}

.next-button {
	position: fixed;
	top: 30px;
	left: 30px;
}




















