/* quiz css */

body {
	background-image: url("images/pattern.gif");
	background-repeat: repeat;
	font-family: Georgia;
}

.page {
	background-color: #ffffff;
	border: 1px double #000000;
}

h1 {
	text-transform: uppercase;
}

h2 {
	font-style: italic;
}














/* 
This is a more advanced, juiced-up "clearfix" than the versionn
I gave you in class, but it uses the same concept and has the
same overall effect.

If you're curious, this particular "clearfix" technique
is from Nicholas Gallagher. He discusses it here: 
http://nicolasgallagher.com/micro-clearfix-hack 
*/

.clearfix:before,
.clearfix:after { 
	content: ""; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.clearfix { 
	zoom: 1; 
}