/* 
This is just a small demo of one approach to
styling the list item markers in the Bill of Rights,
without appearing to affect the actual <p> text
inside the list items. 
*/

article {
	width: 800px;
	margin: 0px auto;
}

li {
	list-style-type: lower-roman;

	/* set the font size and color on the entire <li> */
	font-size: 40px;
	color: #00aacc;
}

li p {
	/*
	override the font size and color on the <p>'s
	that are inside an <li>
	*/
	font-size: 12px;
	color: #000000;
}