/* quiz css */

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("images/pattern.png");
	background-repeat: repeat;
	font-family: Georgia, serif;
}

h1,
h2 {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	padding: 0 0 10px;
	font-size: 36px;
}

h2 {
	font-size: 16px;
	padding: 0 0 1em;
	border-bottom: 1px dotted #000066;
}

p {
	margin: 1em 0 0;
}

em {
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.page {
	width: 800px;
	padding: 20px;
	margin: 20px auto;
	border-top: 5px solid #000066;
	background-color: #ffffff;
	position: relative;
}

.main {
	float: left;
	width: 450px;
}

.main p {
	font-size: 18px;
	line-height: 1.5;
}

.side {
	width: 205px;
	float: right;
}

.side p {
	font-size: 13px;
	line-height: 1.3;
	font-style: italic;
}

cite {
	font-style: normal;
}

a {
	color: #00aacc;
}


/* 
This is a more advanced, juiced-up "clearfix" than the versionn
I gave you in class, but it uses the same concept and has the
same overall effect.

If you're curious, this particular "clearfix" technique
is from Nicholas Gallagher. He discusses it here: 
http://nicolasgallagher.com/micro-clearfix-hack 
*/

.clearfix:before,
.clearfix:after { 
	content: ""; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.clearfix { 
	zoom: 1; 
}