
	/**
 * The first commented line is your dabbletâ€™s title
 */



body
{
background:oldlace;
}

article
{
width: 600px;
height:50px;
margin:40px auto;
padding:20px;
background:mediumturquoise;
border-radius: 25px;
border-style:groove;
box-shadow:6px 5px 8px burlywood;

}

h1
{
font:50px "centurygothic";
font-weight: bold;
letter-spacing:0.5px;
text-transform: uppercase;
color: ivory;
text-align: center;
margin-bottom:20px;
margin-top: 0px;


}

h2
{
font:25px "centurygothic";
font-weight: bold;
letter-spacing:0.5px;
text-transform: uppercase;
color: mediumturquoise;
text-align: center;
margin-bottom:20px;
margin-top: 0px;
text-decoration: underline;
}

p,cite
{
font-family: centurygothic;
font-size: 16px;
text-align: left;
}




article > p, cite
{
font:15px "centurygothic";
font-weight: bold;
letter-spacing:0.5px;
color: mediumturquoise;
margin-bottom:20px;
margin-top: 20px;
text-align: justify;
}


cite
{
font:15px "centurygothic";
font-weight: bold;
letter-spacing:0.5px;
color: lightslategray;
margin-bottom:30px;
margin-top: 0px;
}

em
{

color:lightslategray;
}

ol
{
    counter-reset:ammendmentnum; 
    margin: 80px 0 25px;
    padding: 0;

}

li
{

position:relativee;
    margin:px 30px 30px;
    padding:8px 8px; 
    list-style:none; 
    background:mediumturquoise;
	border-radius: 5px	;
	border-align: center;
	border-style:inset;
	box-shadow:6px 6px 8px burlywood;
	color: ivory;
	font-size:10px;
}

li:before { /* Top roman numeral */
	font-family: centurygothic;
	font-weight: bold;
	content:counter(ammendmentnum); 
        counter-increment:ammendmentnum; 
        margin: 5px 1px px;
        left: 5px ; right: 5px;
        color: lightslategray;
	font-size: 60px;

    
    
	}

li p { padding: 0 50px }

