/* 
The Bill of Rights 
styles by [you]
*/


h1 {
        
        background: pink;
        padding:10px;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size:100px;
	margin-top: 5px; margin-bottom: 0px;
	text-align: center;
        font-weight: normal;
        color: black;

}
h2{
        font-family: "Lucida Grande", Tahoma;
	font-size: 30px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #666666;
        margin-top: 10px;
	text-align: center!important;
	letter-spacing: 0.3em;
	
}
article {

	margin-left: 75px;
	margin-right: 75px;
	padding: 25px;
	font-family: "Lucida Grande", Tahoma;
	font-size: 14px;
	color:pink; 
	text-transform: uppercase;
		text-align: center;
}

ol { font-size: 120%; padding:20px;
	margin:auto; list-style-type: none; text-align: center; color:black;
style="float: left; width: 600px; 
}


}