@import url(http://fonts.googleapis.com/css?family=Nixie+One);
@import url(http://fonts.googleapis.com/css?family=Ruda);

body {
	background-color:#99B2B7;
	margin-top: 0px;
	padding: 0px:
	}

article {
	
	background-color: #D5DED9;
	margin: 2% auto;
	width: 50%;
	padding: 0px 0px;
	font: 18px/24px 'Ruda',helvetica, arial, sans-serif;
	color:#555152;
	border:px solid;
	border-radius:25px;
	}
#header {
	background-color:#7A6A53;
	height: 10%;
	margin-top:0px;
	padding-top: 1%;
	border:0px solid;
	border-radius:25px;
	
}

#header h1 {
	font-family:'Nixie One', cursive;
	font-size: 45px;
	text-align:center;
	color: #D5DED9;
	font-stretch: expanded;
	}
#preamble {
	border: solid #D5DED9 10px ;

	margin-top: 2%;
	padding: 10px;
	background:#D5DED9;
	}
	
#preamble h2 {
	color: #7A6A53;
	text-align:center;
	font: 20px;

	
	}
	
#preamble cite {
	color: #948C75;
	font-size: 20px;
	}
	
#preamble em {
	color:#99B2B7;
	}

ol	{
margin: 0;
padding: 0;
}
	
li	{
	list-style: upper-roman inside;
	color: #99B2B7;
	font-weight: bold;
	font-size: 25px;
}

li p {
	background-color:#D9CEB2;
	color: #7A6A53;
	border-radius:25px;
	box-shadow: 5px 5px 5px #888888;
	padding: 10px;
	margin: 20px 20px;
	font-weight: normal;
	font: 18px/24px 'Ruda', helvetica, arial, sans-serif;
	}
	

	
	
	
	