* {
    margin: 0px;
    padding: 0px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

img {
    display: block;
}

.map {
    position: absolute;
}

.flag {
    position: absolute;
}

.austria {
    /*z-index: 2;*/
    top: 509px;
    left: 469px;
}

.france {
    /*z-index: 3;*/
    top: 509px;
    left: 300px;
}











