/* 
The Bill of Rights 
styles by [you]
*/

article {
	width: 800px;
	margin: 0px auto;
}

li {
	list-style-type: lower-roman;
	font-size: 40px;
	color: #00aacc;
}

li p {
	font-size: 12px;
	color: black;
	margin-top: -10px;
}