/* 
The Bill of Rights 
styles by Joel :D

Tips on list styling from: http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
Counters are awesome!

*/

@import url("http://fonts.googleapis.com/css?family=Asset|Alegreya+SC:700,400|Alegreya:400italic,400");
	
body { background: #291f31; }

article { 
	-moz-transform:rotate(3deg);
	-webkit-transform:rotate(3deg);
	-o-transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	width: 860px; 
	margin: 80px auto; 
	background: #f6e09a; 
	padding: 20px; 
	box-shadow: 0px 3px 6px #16111a; 
	border-radius: 25px
	
	}

h1 { 
	font: 33px Asset, Adobe Garamond Pro, serif;
	text-transform: uppercase; 
	color: #927a4c;
	text-shadow: -5px 3px 0px #f6e09a, 3px 3px 0px #f6e09a, -10px 6px 0 #d9b755;
	text-align:center; 
	padding: 25px 30px 30px; 
	margin: -20px -20px 60px; 
	background: #f6e09a; 
	border-radius: 25px 25px 100px 100px; 
	box-shadow: 0 2px 3px #eacd71;
}
	
h2 { 
	font-family: Alegreya SC, Adobe Garamond Pro, serif; 
	letter-spacing: 5px; 
	color: #374658; 
	text-align: center; 
	font-weight: bold
	}	

p, cite {
	font-family: Alegreya, Adobe Garamond Pro, serif;
	font-size: 18px;
	text-align: justify;
}

article > p, cite { 
	margin: 20px 56px; 
	color: #2e2108;
	}
	
cite { 
	display: block; 
	font-style: italic; 
	font-size: 22px;
	}
	
em { font-family: Alegreya SC; }


ol {
    counter-reset:ammendmentnum; /* just learned this :D so cool */
    margin: 80px 0 25px;
    padding: 0;
	}

li {
    position:relative;
    margin: 60px 30px 30px;
    padding:4px 8px; 
    list-style:none; 
    background:#374658;
	border-radius: 15px	;
	color: #fff;
}

li:before { /* Top roman numeral */
	font-family: Asset, Adobe Garamond Pro, serif;
    content:counter(ammendmentnum, upper-roman); 
    counter-increment:ammendmentnum; 
    position:absolute;
 	margin: -20px 0 0;
	left: 0; right: 0;
    color:#374658;
	font-size: 20px;
    text-align:center;
	text-shadow: -3px 0px 0px #f4e7bd, 3px 0px 0px #f4e7bd, -6px 0px 0 #374658, 6px 0px 0 #374658;
	}

li p { padding: 0 20px }

li:nth-child(2n+1) { margin-right: 300px; }
li:nth-child(2n+2) { margin-left: 300px; }