body {
	background-color: #e6f0da;
}

.console {
	width: 500px;
	margin: 60px auto 20px;
}

.console .display {
	padding: 10px;
	height: 100px;
	overflow-y: auto;
	background-color: #306555;
	color: #ffffff;
	font-family: monospace;
}

.console .controls {
	padding: 5px 10px;
}

.processing {
	opacity: 0.5;
}