/* 
The Bill of Rights 
styles by Ambar Del Moral
*/



body {
	background-color:snow; 
	background-image:url(); padding-top:15px; background-repeat:repeat; 
	color: black;
	font-family: Trajan Pro;
	margin-right: 200px;
	margin-left: 200px;
	border: 1px solid darkolivegreen; padding: 10px;
}

{ margin: 0 auto; text-align: center}

div{ 
	
	border-top: 1px solid black;
	border-bottom: 1px solid black;

	
	width: 490px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px; 
	background-color: transparent;
}

div ol {

	text-align: center-justified;
		border-top: 1px solid black;
	border-bottom: 1px solid black;

	
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px; 
	background-color: transparent;
}

ol { 
	list-style-type: upper-roman;
}

h1 {
	font-family: zapfino;
	font-weight: bold;
	font-size: 36px;
	font-style: normal;
	text-decoration: ;
	text-align: center;
}

h2 {
	font-family: Trajan Pro;
	font-weight: light;
	color: black;
	text-align: center;
	font-size: 15px;
}

p {
	color: black;
}



