/* 
The Bill of Rights 
styles by Emilio Sanchez gradient created with 
http://www.colorzilla.com/gradient-editor/
*/
body {
	color:#7D7D7D;
	width: 450px; 
	margin: auto; 
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 55%, rgba(234,234,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 55%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 55%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 55%,rgba(234,234,234,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 55%,rgba(234,234,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}
article{
	background-color:#F7F7F7 ;
}

p {

	font-family: garamond premier pro, adobe garamond, serif;
	text-align: justify;
	padding: 10px;
	}

p em {
	font-weight: bolder;
	font-size: 14px;
	font-style: normal;
	font-variant: small-caps;
	text-transform: lowercase;
}
	
h1 { 
	color: #C7C7C7;
	font: bold 40px Times, Garamond;
	text-transform: uppercase;
	text-align: left;
	background-color:#F2F2F2;
	margin-bottom: 0px;
	padding: 170px;
	padding-top: 250px;
	padding-left: 150px;
	margin-right: 150;
	line-height: 33px;
}

h2 {
	background-color:#F7F7F7 ;
	text-align: center;
	font: lighter 20px garamond premier pro;
	font-variant: small-caps;
	margin:0px;
	margin-bottom: 5px;
	border-top: 15px solid white;
	padding-top:10px;
}
ol{
	border-top: 7px solid white;
	}
li {
	padding-top: 1px;
	margin-left: -37px;
	list-style-type: Upper-roman;	
	}