/**
 * The first commented line is your dabbletâ€™s title
 */



body
{
background:#CDB7B5;
}

article
{
width: 700px;
height:40px;
margin:50px auto;
padding:10px;
background:#EED5D2;
border-radius: 20px;
box-shadow:7px 5px 6px #8B7D7B;

}

h1
{
font:40px "Times New Roman, serif";
font-weight: bold;
letter-spacing:0.5px;
text-transform: uppercase;
color: #CDB7B5;
text-align: center;
margin-bottom:50px;
margin-top: 0px;


}

h2
{
font:25px "Times New Roman, serif";
font-weight: normal;
letter-spacing:0.5px;
text-transform: uppercase;
color: #FFE4E1;
text-align: center;
margin-bottom:20px;
margin-top: 0px;
}

p,cite
{
font-family: Palatino, serif;
font-size: 16px;
text-align: left;
}




article > p, cite
{
font:15px "Times, serif";
font-weight: bold;
letter-spacing:0.5px;
color: #8B7D7B;
margin-bottom:20px;
margin-top: 20px;
text-align: justify;
}


cite
{
font:15px "Times, serif";
font-weight: bold;
letter-spacing:0.5px;
color: #8B7D7B;
margin-bottom:30px;
margin-top: 0px;
}

em
{

color:#8B7D7B;
}

ol
{
    counter-reset:ammendmentnum; 
    margin: 80px 0 25px;
    padding: 0;

}

li
{

position:relative;
    margin:50px 30px 30px;
    padding: 4px 8px; 
    list-style:none; 
    background:#EED5D2;
	border-radius: 5px	;
	box-shadow:6px 6px 8px #8B7D7B;
	color: #CDB7B5;
	font-size:20px;
}

li:before { /* Top roman numeral */
	font-family: Palatino, serif;
	font-weight: bold;
	content:counter(ammendmentnum); 
        counter-increment:ammendmentnum; 
        position:relative;
        margin: -20px 10px 4px;
	left: 100px; right: 100px;
    color: #8B7D7B;
	font-size: 50px;
    text-align:right;
    
	}

li p { padding: 0 20px }

li:nth-child(2n+1) { margin-right: 100px; }
li:nth-child(2n+2) { margin-left: 100px; }