body {
	margin: 0px;
	padding: 30px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #fafafa;
}

.wrapper {
	width: 960px;
	margin: 0px auto;
}

h1 {
	margin: 0px 0px 30px;
	padding: 5px 0px;
	border: 1px solid #dddddd;
	border-left: none;
	border-right: none;
	font-size: 18px;
}

.demo {
	margin: 15px 0px;
}

.button {
	display: inline-block;
	padding: 12px;
	border: 1px solid #999999;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	background-color: #eeeeee;
	border-radius: 16px 4px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
	-moz-transition: box-shadow .6s ease-in;
	-webkit-transition: box-shadow .6s ease-in;
}

.button:hover {
	background-color: #66ccff;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, .8);
}

.button:active {
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .8);
}

.button.attention {
	font-size: 18px;
	background-color: #9cd448;
}

.button.attention:hover {
	background-color: #66ccff;
}