.wrapper {
	border: 1px solid #ccc;
	width: 1000px;
	margin: 0px auto;
}

.ad img {
	display: block;
	margin: 10px auto;
}

.nav li {
	float: left;
	list-style: none;
}

.column {
	float: left;
	outline: 1px solid #000;
}

.main {
	width: 400px;
}

.clearfix:after {
	display: block;
	content: ".";
	clear: both;
	height: 0px;
	visibility: hidden;
}

h1 {
	text-align: center;
}