/* universal selector (*) */
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Georgia, serif;
}

h1 {
	padding: 5px;
	background-color: #dddddd;
}

h2 {
	background-color: #b8d1c8;
}

p {	

	background-color: #84d2b5;
	outline: 1px solid #000000;
	
	/*padding: 5px;*/
	
	/*width: auto;*/
	/*width: 100%;*/
	width: 500px;
}



.demo {
	height: auto;
	/*overflow: hidden;*/
		
	margin: 50px auto;
	background-color: #8ec2ed;
}

.demo2 {
	/*overflow: hidden;*/
	
	/*margin-left: auto;
	margin-right: auto;
	width: 1000px;*/
}

.clearfix:after {
	display: block;
	content: ".";
	clear: both;
	height: 0px;
	visibility: hidden;
}







.demo2 p {
	float: left;
	/*clear: both;*/
	
	/*width: 500px;*/
}

/*.fixer {
	clear: both;
}*/



.sidebar {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.sidebar ul li a {
	display: block;
	margin: 0px 0px 5px;
	padding: 5px;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
}
.sidebar ul li a:hover {
	background-color: red;
}
.sidebar ul li a:active {
	background-color: #ffffff;
	color: #000000;
}

.main {
	float: left;
}





