/* 
The Bill of Rights 
styles by Sam :)
*/

body {
	background: #E7E7E7;
}

img {
	height: 300px;
	position: absolute;
	margin-bottom: 100px;

}

article {


	padding: 100px auto;
	border-radius: 200px;
	border-bottom-left-radius: 0px;
	background: #ffffff; 
	box-shadow: 0px 10px 30px #CCCCCC;
	width: 700px;
	margin: 50px auto;
	padding: 80px;
	color: black;
	font-family: 'Academy Engraved LET', serif;
	text-align: justify;
	margin-bottom: 0;
	margin-left: 20%;
}

h1{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	
	font-family: 'Academy Engraved LET', serif;
 	color: #2D3956;
 	text-transform: uppercase;
 	text-shadow: white 0 0 4px;
 	
	font-size: 50px;
	letter-spacing: -0.05em;
}

h2{
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Academy Engraved LET', serif;
	color: #616A7F;
	font-weight: lighter;
	font-size: 40px;
	letter-spacing: -.02em;
}

p{
	margin-top: -50px;
	margin-top: 10px;
	
	font-weight: lighter;
	color: #666666;
	font-size: 12pt;
}

cite{
	display: block;
	font-size: 19px;
	color: #666666;
	padding: 30px;
	border-top: 2px solid #2D3956;
	font-style: normal;
}

em{
	font-weight: normal;
	color: #455372;
	font-style: normal;
	text-transform: uppercase;
	font-size: 90%;
}

ol {
	width: 500px;
	margin: 30px auto;
	padding: 2px;
	display: block;
	font-size: 10px:
}

li{
	position: relative;
	list-style-type: upper-roman;
	list-style-position: outside;
	font-size: 15px;
	color: #2D3956;
}