body {
	margin: 0px;
	padding: 30px;
	font-family: "Times New Roman", serif;
	background-color: #eeeeee;
}

.wrapper {
	width: 960px;
	margin: 0px auto;
}

.example {
	margin: 60px 0px 0px;
}
.example:first-child {
	margin-top: 0px;
}

.example > h2 {
	margin: 0px 0px 30px;
	padding: 3px;
	text-align: right;
	border: 1px solid #cccccc;
	/*
	I only want the border on top and bottom,
	so in the next two lines I zero it out
	on the the left and right
	*/
	border-left: none;
	border-right: none;
	background-color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.mod {
	margin: 15px 0px;
	zoom: 1;
	font-family: Helvetica, Arial, sans-serif;
}
.mod:before,
.mod:after { 
	content: ""; 
	display:table; 
}
.mod:after { 
	clear:both; 
}

.mod ::-moz-selection {
	color: #edeba4;
	background-color: #000000; 
}
.mod ::selection {
	color: #edeba4;
	background-color: #000000; 
}

.mod a {
	text-decoration: none;
	color: #000000;
}

.mod h1, .mod h2, .mod h3, .mod h4, .mod h5, .mod h6 {
	font-family: Georgia, serif;
}

.mod h1 {
	margin: .6em 0px;
	padding: 0px;
	font-size: 28px;
	font-weight: bold;
}
.mod h2 {
	margin: .6em 0px;
	padding: 0px;
	font-size: 21px;
	font-weight: bold;
}
.mod h3 {
	margin: .6em 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: bold;
}
.mod h4 {
	margin: .6em 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
}
.mod h5 {
	margin: .6em 0px;
	padding: 0px;
	font-size: 16px;
	font-weight: normal;
	font-variant: small-caps;
}
.mod h6 {
	margin: .6em 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: normal;
	font-variant: small-caps;	
}

.mod .button {
	/*
	The "display" property is new.
	see http://reference.sitepoint.com/css/display
	
	Essentially, we are using "display: inline-block;" here
	to make the links behave like regular block elements (such as <div>s),
	so that we can add margins and padding to them,
	but not expand 100% horizontally.
	*/
	display: inline-block;
	
	padding: 12px;
	border: 1px solid #999999;
	font-size: 14px;
	font-weight: bold;
	background-color: #ffffff;
	
	/*
	Using "border-radius" to make rounded corners
	*/
	border-radius: 16px 4px;
	
	/*
	Using "box-shadow" to make a drop shadow
	around the element
	*/
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
	
	/*
	Using "transition" to tell the browser to animate properties
	of an element when they change.
	Note that we have to use vendor-specific prefixes for this property,
	because it is not actually standardly supported yet. :(
	
	for more info, see:
	http://net.tutsplus.com/tutorials/html-css-techniques/css-fundametals-css-3-transitions/
	*/
	-moz-transition: all .4s ease-in; /* for Firefox */
	-webkit-transition: all .4s ease-in; /* for Safari and Chrome */
}

/*
The :hover "pseudo-class"
can be used to specify styles that are applied to the element
only when the user hovers their mouse over it
*/
.mod .button:hover {
	box-shadow: 1px 1px 12px rgba(0, 0, 0, .8);
}

/*
The :active "pseudo-class"
can be used to specify styles that are applied to the element
only when the user is clicking down on it
*/
.mod .button:active {
	/*
	Using the "inset" keyword to make the drop shadow go inwards instead of outwards
	*/
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .8);
}

.mod .button.highlight {	
	/*
	CSS3 gradient,
	generating using CSS3 Gradient Generator by Damian Galarza:
	http://gradients.glrzad.com/
	
	(note the slew of vendor-specfic prefixes)
	*/
	background-image: linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%);
	background-image: -o-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%); /* for Opera */
	background-image: -moz-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%);
	background-image: -ms-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%); /* for Internet Explorer */
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(240,213,132)),
		color-stop(0.73, rgb(237,235,164))
	);
}

.mod .button.highlight:hover {
	background-color: #edeba4;
}

.mod .button.highlight:active {
	/*
	Flipping the gradient when the button is :active
	*/
	background-image: linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -o-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -moz-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -ms-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(237,235,164)),
		color-stop(0.73, rgb(240,213,132))
	);
}

.mod .button.pill {
	border-radius: 24px;
	padding-left: 18px;
	padding-right: 18px;
}

.mod .button.pill:hover {
	/*padding-left: 24px;
	padding-right: 24px;*/
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

.mod .button.danger {
	color: #ffffff;
	
	/*
	Using "text-shadow" to make a drop shadow on the text itself
	*/
	text-shadow: 1px 1px rgba(0, 0, 0, 1);
	
	background-color: #d74b46;
}

.mod .button.danger:hover {
	background-color: #c43c35;
	border-radius: 0px;
}

.mod .button.close {
	background-image: url("images/x.png");
	background-repeat: no-repeat; /* don't tile the background image */
	background-position: 50%;
	padding: 12px 24px;
	text-indent: -99999px;
}

.mod .button.close:hover {
	color: #d74b46;
}

.mod .ui-container {
	float: left;
	padding: 10px;
	background-color: #f1f1f1;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .05);
}
.mod .ui-container:hover {
	border-color: #aaaaaa;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.mod .ui-container.button-set {
	border-radius: 16px 4px;
}

.mod .button-set > .button {
	margin-left: 5px;
	border-radius: 0px;
}
.mod .button-set > .button:first-child {
	margin-left: 0px;
	border-radius: 16px 0px 0px 4px;
}
.mod .button-set > .button:last-child {
	border-radius: 0px 4px 16px 0px;
}

.mod .breadcrumb > ol {
	margin: 0px;
	padding: 0px;
}
.mod .breadcrumb > ol > li {
	float: left;
	margin: 0px 0px 0px 10px;
	list-style-type: disc;
	list-style-position: inside;
}
.mod .breadcrumb > ol > li:first-child {
	margin-left: 0px;
	list-style-type: none;
}
.mod .breadcrumb > ol > li.current {
}
.mod .breadcrumb > ol > li > a {
	color: #888888;
	font-weight: bold;
}
.mod .breadcrumb > ol > li > a:hover {
	color: #000000;
}

.mod .breadcrumb > ol > li.current {
}

.mod .pagination .item {
	display: block;
	float: left;
	padding: 6px;
	border: 1px solid transparent;
}
.mod .pagination a.item {
	font-weight: bold;
	color: #888888;
}
.mod .pagination a.item:hover {
	color: #000000;
	background-image: linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%);
	background-image: -o-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%); /* for Opera */
	background-image: -moz-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%);
	background-image: -ms-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%); /* for Internet Explorer */
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(240,213,132)),
		color-stop(0.73, rgb(237,235,164))
	);
	border-color: #999999;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}
.mod .pagination a.item:active {
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .2);
	background-image: linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -o-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -moz-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -ms-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(237,235,164)),
		color-stop(0.73, rgb(240,213,132))
	);
}

.mod .navbar {
	padding-top: 0px;
	padding-bottom: 0px;
}

.mod .navbar li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.mod .navbar a {
	display: block;
	padding: 4px 10px;
	border: 1px solid transparent;
}

.mod .navbar > li {
	float: left;
	position: relative;
	margin: 0px 1px 0px 0px;
}
.mod .navbar > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.mod .navbar > li:hover > a {
	position: relative;
	z-index: 2;
}
.mod .navbar > li:hover > a {
	border-left-color: #aaaaaa;
	border-right-color: #aaaaaa;
}

.mod .navbar li > ul {
	display: none;
	position: absolute;
	z-index: 1;
	padding: 0px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

.mod .navbar li > a {
	background-color: #f1f1f1;
}
.mod .navbar li > a:hover {
	background-color: #edeba4;
	color: #000000;
}
.mod .navbar li > a:active {
	background-color: #000000;
	color: #edeba4;
}

.mod .navbar li:hover > ul {
	display: block;
}

.mod .navbar > li > ul {
	width: 200%;
	top: 100%;
	left: 0px;
	border: 1px solid #aaaaaa;
}
.mod .navbar > li > ul > li:first-child > a {
	
}

.mod .calendar .cal-hd .title {
	padding: 0 0 7px;
	text-align: center;
	font-size: 12px;
	font-variant: small-caps;
}
.mod .calendar .cal-month {
	border-collapse: collapse;
	border-spacing: 0px;
}
.mod .calendar .cal-month thead th {
	font-family: Georgia, serif;
	font-style: italic;
	padding: 4px;
	text-align: center;
	background-color: #ffffff;
}
.mod .calendar .cal-month th,
.mod .calendar .cal-month td {
	font-size: 16px;
	font-weight: normal;
	border: 1px solid #dddddd;
}
.mod .calendar .cal-month tbody td a {
	display: block;
	padding: 4px;
	text-align: right;
	color: #666666;
	border: 1px solid #ffffff;
}
.mod .calendar .cal-month tbody td a:hover {
	color: #000000;
	
	background-image: linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%);
	background-image: -o-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%); /* for Opera */
	background-image: -moz-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%);
	background-image: -ms-linear-gradient(bottom, rgb(240,213,132) 7%, rgb(237,235,164) 73%); /* for Internet Explorer */
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(240,213,132)),
		color-stop(0.73, rgb(237,235,164))
	);
}
.mod .calendar .cal-month tbody td a:active {
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .2);
	background-image: linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -o-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -moz-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -ms-linear-gradient(bottom, rgb(237,235,164) 7%, rgb(240,213,132) 73%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(237,235,164)),
		color-stop(0.73, rgb(240,213,132))
	);
}
